body {
  margin: 0 auto;
  background-color: #fefefe;
  color: #0e0e0e;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
  Verdana, sans-serif;
}

#cert-form {
  /*margin: 0 25% 0 25% !important;*/
  margin: auto !important;
  width: 655px;
}

form{
  padding: 20px;
}

@media screen and (min-width: 655px) {
  h1 {font-size: 2em;}
  h2 {font-size: 1.75em;}
  h3 {font-size: 1.50em;}
  p, ul { font-size: 1.25em;}
} 

@media screen and (max-width: 654px) {
  h1 {font-size: 1.75em;}
  h2 {font-size: 1.50em;}
  h3 {font-size: 1.25em;}
  p, ul { font-size: 1.1em;}
  main, header{width: 100%}
}