@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
  max-width: 75%;
  margin: auto;
  line-height: 2em;
  font-family: cursive;
}

h1,h2{
  text-align: center;
}

#instructions{
  margin: 0 25% 0 25%;
}

.button{
  display: flex;
  justify-content: center;
}

#button{
  font-size: 1.25em;
}

